body{
  // background-color:black;
  // color: burlywood;
  color:darkgoldenrod;

  font-family: fantasy;
  // background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  list-style: none;
}
.container-main{
  // background-color: aqua;
  border-radius: 10px;
  border-style: double;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("./images/john-towner-3.jpg");
  // background-image: url("https://images.unsplash.com/photo-1616849540275-0bc274e2a474?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
background-size: cover;
background-repeat: no-repeat;

}

.grid-container{
    // background-color: aqua;
    padding: 10px;
    display: grid;
    gap: 10px;
    height: 250px;
    width: 99%;
    
    // width: fit-content;
    grid-template-rows: .1fr ;
    grid-template-columns: 1fr 1fr ;
    // background-color: burlywood;
  
  

  .container2{
    display: flex;
    // background-color: rgb(220, 104, 36);
    // border: 5px;
    // border-style: double;
    text-align: center;
    align-items: center;
    justify-content: center;
    

    // .container3{
    //     // background-color: rgb(15, 221, 63);
    //     // padding: 10px;
    //     opacity: 80%;
    //   }
  }
}

  
 

  // @media (max-width: 500px) {
  //   .grid-container{
  //     width: 300px;
  //     .grid-container{
  //       grid-template-columns: .5fr 1fr;
  //     }
  //   }
    
  // }
  .Front1{
    color: rgb(18, 216, 38);
    display: flex;
    text-align: center;
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h1{
      font-size:250%;
      color: antiquewhite;
    }
  }
  .navbar{
    margin-left: 0%;
    padding: 3%;
  
  }

  .P3 {
  background-color: rgb(21, 22, 22);
  color: antiquewhite;
  border: 2px;
  border-style: groove;
}

.B2 ul {
  list-style: none;
}

.B3 ul {
  list-style: none;
}
.grid-container-image{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  color: brown;
 padding: 5px;
  height: 350px;
  gap: 10px;
  text-align: center;  
  // background-color: rgb(71, 9, 228);
  
}
.textcolor{
  // color:darkgoldenrod;
  color: burlywood;

}
.containeri2{
  // border: 5px;
    border-radius: 20%;
    border-color:darkblue ;
    border-style: groove;
    // border-style: double;
   
}
.containeri2:hover{
  height:101%;
  width: 101%;
  border-color: blueviolet;
  // border-color:fuchsia;
}
.Logo{
  color: bisque;
  // font-family: fantasy;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  padding-right: 10%;
  font-size: larger;
}